<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>


  {{ partial "head.html" . }}
</head>
{{ partial "nav-off-home.html" . }}



<body>

  <div class="container" style="padding-top: 75px">
    <h1 class="title">Food Calculator</h1>
    <hr>
  </div>


  <div id="calculator" class="well col-lg-4 col-lg-offset-4">
    <form>
      <label>Dog's Weight</label>
      <div class="input-group input-group-lg">
        <input type="number" class="form-control" aria-label="Dogs Weight" id="dogWeight">
        <span class="input-group-addon" id="systemMeasure">Kg</span>
      </div>
      <br>

      <button type="button" class="btn btn-primary" id="toggle"><span id="systemLabel">Metric</span></button>


      <!--
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="toggle">
         <label class="btn btn-secondary active">
            <input type="radio" name="options" id="Met" value="Kg" checked="checked"> Metric
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="Imp" value="lb"> Imperial
          </label>
        </div>

      -->

      <br>

      <br>
      <div class="form-group form-group-lg">
        <label>Dog's Activity Level</label>
        <select class="form-control" id="activityLevel">
          <option value=".018">Low</option>
          <option value=".022">Medium</option>
          <option value=".028">High</option>
        </select>
      </div>

      <div class="form-group form-group-lg">
        <label>Dog's Age</label>
        <select class="form-control" id="dogsAge">
          <option value="1.5">Puppy</option>
          <option value="1">Adult</option>
          <option value="0.85">Senior</option>
        </select>
        <br>
        <button type="button" class="btn btn-primary" id="calculate">Calculate</button>
    </form>
    <!--calculator-->

  </div>
  <div id="totalFood">
    <h3 style="color: #f05f40"><span id="food" style="color: black">0</span> <span id="units">grams</span></h3>
  </div>
  </div>

  <div class="container text-center col-lg-12">
    <p>* The values in this calculator are based on generally accepted formulas and do not take into account your pets specific caloric requirements. Always discuss with your veterinarian prior to changing your pets diet.</p>
    <p>Press Orange "Metric" button to change to imperial units</p>

  </div>

  <div class="container text-center col-lg-12">
    <div class="call-to-action">
      <a href="/" class="btn btn-primary btn-xl wow tada">Home</a>
    </div>
    <br>
  </div>


  <script type="text/javascript" src="../js/food-calc.js"></script>


{{ if .Site.Params.contact }}
{{ partial "contact.html" . }}
{{ end }}

</body>
{{ partial "js.html" . }}
