{{ "<!-- Bios Modals -->" | safeHTML }}
{{ range .Site.Data.foodInfo }}
<div class="portfolio-modal modal fade" id="foodInfoModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            {{ with .name }}
            <h2>{{ . }}</h2>
            {{ end }}
            {{ if and .name .description }}
            <hr class="star-primary">
            {{ end }}
            <img src="../img/food-info/{{ .img }}" class="img-responsive img-centered" alt="">
            <hr class="star-primary">
            <p>Information:</p>
            {{ with .description }}
            <p>{{ . | markdownify }}</p>
            {{ end }}

            <hr class="star-primary">
            <p>Benefits:</p>
            {{ range  .benefits }}
            <p>{{ . }}</p>
            {{ end }}

            <hr class="star-primary">
            <p>Nutrients:</p>
            {{ with .nutrition }}
            <p>{{ . | markdownify }}</p>
            {{ end }}

            {{ with $.Site.Params.foodInfo.modal.buttonText }}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
