<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range sort .Site.Data.mealPlan "modalID"}}
                <div class="col-md-3">
                    <a href="#mealPlanModal{{ .modalID }}" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="../img/meal-plan/{{ .img }}" class="img-responsive" alt="">
                        {{ if and .name .description }}
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
<!-- this is the label -->
                                    {{ with .name }}
                                        <div class="project-name">
                                            {{ . }}
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</section>
