{{ "<!-- Bios Modals -->" | safeHTML }}
{{ range .Site.Data.mealPlan }}
<div class="portfolio-modal modal fade" id="mealPlanModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            {{ with .name }}
            <h2>{{ . }}</h2>
            {{ end }}
            <hr class="star-primary">
            <img src="../img/meal-plan/{{ .img }}" class="img-responsive img-centered" alt="">

            {{ with .description}}
            <p>{{ . }}</p>
            {{ end }}


            <hr>

            <div>
              {{ $data := . }}
              <div class="row">
                <div class="col-xs-6">
                  <h3>Ingredient </h3>

                </div>
                <div class="col-xs-6">
                  <h3> Benefit </h3>

                </div>
              </div>
              {{ range $data.items }}
              <div class="row">
                <div class="col col-xs-6">
                  <hr style="width: 15px" class="align-bottom">
                  <p> {{ .ingredient.title }} </p>
                </div>
                <div class="col col-xs-6">
                  <hr style="width: 15px" class="align-bottom">
                  <p> {{ .ingredient.benefit }} </p>

                </div>

              </div>

              {{ end }}

            </div>

            {{ with $.Site.Params.mealPlan.modal.buttonText }}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
