{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">

            {{ with .title }}
            <h2>{{ . }}</h2>
            {{ end }}
            {{ if and .title .description }}
            <hr class="star-primary">

            {{ end }}
            <img src="img/portfolio/{{ .imgB }}" class="img-responsive img-centered" alt="">
            {{ with .description }}
            <p>{{ . | markdownify }}</p>
            {{ end }}

            {{ if .packaging }}
            <hr class="star-primary">
            <p><b>Package Options:</b></p>
            <p>{{ .packaging | markdownify }}</p>
            {{ end }}
            <hr class="star-primary">

            {{ if .ingredients}}
            <p><b>Ingredients:</b></p>
            <p>{{ .ingredients | markdownify }}</p>
            {{ end }}

            {{ if .serving }}
            <hr class="star-primary">
            <p><b>Serving Suggesions:</b></p>
            <p>{{ .serving | markdownify }}</p>
            {{ end }}

            {{ if .note }}
            <hr class="star-primary">
            <p>{{ .note }}</p>
            {{ end }}

            {{ if .nutrition }}
            <hr class="star-primary">
            <p><b>Nutritional Information:</b></p>
            {{ end }}

            {{ if .calories }}
            <p> {{ .calories }} </p>
            {{ end }}

            {{ if .nutrition }}

            <table id="nutrition-info">
              <tr>
                <th>Component</th>
                <th>Percentage (%)</th>
              </tr>
              {{ if .moisture }}
              <tr>
                <td>Moisture</td>
                <td>{{.moisture}}</td>
              </tr>
              {{ end }}
              {{ if .ash }}
              <tr>
                <td>Ash</td>
                <td>{{.ash}}</td>
              </tr>
              {{ end }}
              {{ if .protein }}
              <tr>
                <td>Protein</td>
                <td>{{.protein}}</td>
              </tr>
              {{ end }}
              {{ if .fat }}
              <tr>
                <td>Fat</td>
                <td>{{.fat}}</td>
              </tr>
              {{ end }}
              {{ if .calcium }}
              <tr>
                <td>Calcium</td>
                <td>{{.calcium}}</td>
              </tr>
              {{ end }}
              {{ if .phosphorous }}
              <tr>
                <td>Phosphorous</td>
                <td>{{.phosphorous}}</td>
              </tr>
              {{ end }}
              {{ if .magnesium }}
              <tr>
                <td>Magnesium</td>
                <td>{{.magnesium}}</td>
              </tr>
              {{ end }}
              {{ if .fibre }}
              <tr>
                <td>Fibre</td>
                <td>{{.fibre}}</td>
              </tr>
              {{ end }}
              {{ if .potassium }}
              <tr>
                <td>Potassium</td>
                <td>{{.potassium}}</td>
              </tr>
              {{ end }}
              {{ if .sodium }}
              <tr>
                <td>Sodium</td>
                <td>{{.sodium}}</td>
              </tr>
              {{ if .copper }}
              <tr>
                <td>Copper</td>
                <td>{{.copper}}</td>
              </tr>
              {{ end }}
              {{ if .iron }}
              <tr>
                <td>Iron</td>
                <td>{{.iron}}</td>
              </tr>
              {{ end }}
              {{ if .manganese }}
              <tr>
                <td>Manganese</td>
                <td>{{.manganese}}</td>
              </tr>
              {{ end }}
              {{ if .zinc }}
              <tr>
                <td>Zinc</td>
                <td>{{.zinc}}</td>
              </tr>
              {{ end }}
            </table>
            {{ end }}
            <br>
            <p><i>All raw food nutritionals are analysed and verified by independant labs to ensure quality and consistency</i></p>
            {{ end }}

            {{ if or .client .date .storelink }}
            <ul class="list-inline item-details">
              {{ if .storelink }}
              <li>{{ with $.Site.Params.portfolio.modal.storelink }}{{.}}: {{ end }}
                <strong><a href="#">{{ .storelink }}</a></strong>
              </li>
              {{ end }}
              {{ if .client }}
              <li>{{ with $.Site.Params.portfolio.modal.client }}{{.}}: {{ end }}
                <strong><a href="{{ with .clientLink }}{{ . }}{{ else }}#{{ end }}">{{ .client }}</a></strong>
              </li>
              {{ end }}
              {{ if .date }}
              <li>{{ with $.Site.Params.portfolio.modal.date }}{{.}}: {{ end }}
                <strong><a href="#">{{ .date }}</a></strong>
              </li>
              {{ end }}
            </ul>
            {{ end }}
            {{ with $.Site.Params.portfolio.modal.buttonText }}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
