<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  {{ partial "head.html" . }}

</head>
{{ partial "nav-off-home.html" . }}

<br>
<br>

<div class="header-content-inner">
  <div>
    <h1 class="title">Where to find Ruff'n'Ready</h1>
  </div>
</div>
</header>

<main>
  <div class="container" style="padding-left: 25px;padding-right: 25px;">
    {{ range .Site.Data.whereToBuy }}
    <div>
      <div class="card">
        <div class="card container text-center">
          <h3 class="card-title">{{ .store }}</h3>
          <p class="card-text">{{ .Phone }}</p>
          <a href="{{ .Website }}">
            <img class="card-img-top" src="../img/where-to-buy/{{ .img }}" width="125"> </img></a>
          <a href="{{ .MapLink }}">
            <p class="card-text">{{ .Address }}</p>
          </a>
          <a href="{{ .Website }}">
            <p class="card-text"><small>{{ .Website }}</p>
          </a>
        </div>
        {{ end }}
      </div>
</main>



<div class="container text-center" style="padding-top: 50px">
  <div class="call-to-action">
    <a href="/#contact" class="btn btn-primary btn-xl">Home</a>
  </div>
</div>

{{ if .Site.Params.contact }}
{{ partial "contact.html" . }}
{{ end }}

</body>
{{ partial "js.html" . }}
