<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  {{ partial "head.html" . }}

</head>
{{ partial "nav-off-home.html" . }}



<div class="container" style="padding-top: 75px">
  <h1 class="title">Where To Find Ruff'n'Ready</h1>
  <hr>
</div>
</header>

<div class="row aligned-row">
  <div class="container-fluid">
    {{ range .Site.Data.whereToBuy }}
    <div class="col-md-6">
      <div class="card text-center flex">
        <h3 class="card-title">{{ .store }}</h3>
        <h4 class="card-text">{{ .description }}<h4>
        <p class="card-text">{{ .Phone }}</p>
        <a href="{{ .Website }}">
          <img class="card-img-top" src="../img/where-to-buy/{{ .img }}" height="90"> </img></a>
        <a href="{{ .MapLink }}">
          <p class="card-text">{{ .Address }}</p>
        </a>
        <a href="{{ .Website }}" class="btn btn-link">Website</a>
      </div>
    </div>


    {{ end }}
  </div>
</div>


<div class="container text-center" style="padding-top: 50px">
  <div class="call-to-action">
    <a href="/#contact" class="btn btn-primary btn-xl">Home</a>
  </div>
</div>

{{ if .Site.Params.contact }}
{{ partial "contact.html" . }}
{{ end }}

</body>
{{ partial "js.html" . }}
