<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  {{ partial "head.html" . }}
</head>
{{ partial "nav-off-home.html" . }}

<br>
<br>

<div class="header-content-inner">
  <div>
    {{ with .Site.Params.bio.name }}
    <h1 class="title">{{ . | markdownify  }}</h1> {{ end }} {{ if and .Site.Params.bio.name .Site.Params.bio.subtitle }}
    <hr> {{ end }} {{ with .Site.Params.bio.subtitle }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
  </div>
</div>
</header>


<main>
  <div>
    {{ partial "bios.html" . }}
    {{ partial "bio-modals.html" . }}
</main>

<br>
<div class="container text-center">
  <div class="call-to-action">
    <a href="/" class="btn btn-primary btn-xl">Home</a>
  </div>
</div>
<br>

{{ if .Site.Params.contact }}
    {{ partial "contact.html" . }}
{{ end }}

</body>
{{ partial "js.html" . }}
