<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  {{ partial "head.html" . }}
</head>
{{ partial "nav-off-home.html" . }}

<div class="container" style="padding-top: 75px">
  {{ with .Site.Params.bio.name }}
  <h1 class="title">{{ . | markdownify  }}</h1> {{ end }} {{ if and .Site.Params.bio.name .Site.Params.bio.subtitle }}
   {{ end }} {{ with .Site.Params.bio.subtitle }}
  <p>{{ . | markdownify }}</p>
  {{ end }}
  <hr>
</div>

<main>
  <div>
    {{ partial "bios.html" . }}
    {{ partial "bio-modals.html" . }}
</main>
<br>
<br>
<div class="container text-center">
  <div class="call-to-action">
    <a href="/#about" class="btn btn-primary btn-xl">Home</a>
  </div>
</div>

{{ if .Site.Params.contact }}
{{ partial "contact.html" . }}
{{ end }}

</body>
{{ partial "js.html" . }}
