<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  {{ partial "head.html" . }}
</head>
{{ partial "nav-off-home.html" . }}

<div class="container" style="padding-top: 75px">
  {{ with .Site.Params.mealPlan.title }}
  <h1 class="title">{{ . | markdownify  }}</h1>
  {{ end }}
</div>

<hr>

<div class="container" style="padding-top: 0px">
  {{ with .Site.Params.mealPlan }}
  <h2>{{ .boom | markdownify  }}</h2>
</div>
{{ end }}
<hr>

<div class="header-content-inner" style="padding-top: 25px">
  <div>
    {{ with .Site.Params.mealPlan.name }}
    <h1 class="title">{{ . | markdownify  }}</h1> {{ end }} {{ if and .Site.Params.mealPlan.name .Site.Params.mealPlan.description }}
    <hr> {{ end }} {{ with .Site.Params.mealPlan.description }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
  </div>
</div>

<main>
  <div>
    {{ partial "meal-plan.html" . }}
    {{ partial "meal-plan-modals.html" . }}
</main>

<hr>

<div class="container" style="padding-top: 0px">
  {{ with .Site.Params.mealPlan }}
  <h3>{{ .boop | markdownify  }}</h3>
  <li>{{ .woof | markdownify  }}</li>
  <li>{{ .snoot | markdownify  }}</li>
  <li>{{ .blip | markdownify  }}</li>
  <li>{{ .blop | markdownify  }}</li>
  <li>{{ .blob | markdownify  }}</li>
  <li>{{ .brip | markdownify  }}</li>
</div>
{{ end }}
<hr>

<div class="container text-center" style="margin-top: 45px">
  <div class="call-to-action">
    <a href="/" class="btn btn-primary btn-xl">Home</a>
  </div>
</div>

{{ if .Site.Params.contact }}
{{ partial "contact.html" . }}
{{ end }}

</body>
{{ partial "js.html" . }}
